<!doctype html>
<html>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

{% include head.html %}

<body>

	<script type="text/x-mathjax-config">
			// <![CDATA[
			MathJax.Hub.Config({
			  extensions: ["tex2jax.js", "[Contrib]/xyjax.js"],
			  jax: ["input/TeX", "output/HTML-CSS"],
			  tex2jax: {
			    inlineMath: [ ['$', '$'] ],
			    displayMath: [ ['$$', '$$']],
			    processEscapes: true,
			    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
			  },
			  messageStyle: "none",
			  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
			});
			// ]]>
			</script>
			<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML">
</script>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>

</body>
</html>
